<%= render partial:'shared/third_header' %>
<div class="main-page">
  <div class="form">
    <div class="form-title">
      <h2>クラス編集</h2>
    </div>
    <%= form_with model: [@room,@team], local: true do |f| %>
      <div class="form-errors">
      <%= render 'shared/error_messages', model: f.object %>
      </div>
      <div class="field">
        <div class="form-label">
        <%= f.label :name,"クラス名" %>
        </div>
        <div class="form-field">
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>
      </div>

      <div class="actions">
        <span>
        <%= f.submit "編集する" %>
        </span>
      </div>
    <% end %>
  </div>
</div>