<%= render partial:'shared/second_header' %>
<div class="main-page">
  <div class="group-index">
    <div class="sidebar">
      <div id="sidebar-top">
        <p><%= @room.name %></p>
        <%= link_to "編集",  room_path(id:@room.id), class:"edit"%>
      </div>
      <div class="sidebar-index">
      <%# クラス、送迎一覧表示 %>
        <ul id="sidebar-lists">
          <li class="sidebar-list-name">クラス</li>
          <%  @teams.each do |t|%>
            <li class="sidebar-list">
              <%=  link_to t.name, room_team_path(id: t.id)%> 
            </li>
          <% end  %>
          <li>送迎</li>
          <% @pickups.each do |i| %>
            <li class="sidebar-list">
              <%=  link_to i.name, room_pickup_path(id: i.id)%> 
            </li>
          <% end %>
        </ul>
      <%# クラス、送迎一覧表示 %>
      </div>
    </div>
    <div class="main">
      <div id="main-top">
      <%# クラス・送迎名 %>
        <p>クラス登録なし</p>
      <%# 編集ボタン %>
        <%# <a href="#">編集</a> %>
      </div>
      <%# 児童一覧表示 %>
      <div id="main-index">
        <ul id="main-lists">
          <% @students.each do |s| %>
            <li class="main-list">
            <%= link_to (room_student_path(id: s.id)) do %>
              <div class="students-name">
                <p class="student-last-name"><%= s.last_name %></p>
                <p class="student-first-name"><%= s.first_name %></p>
              </div>
            <% end %>
            </li>
          <% end %>
        </ul>
        <%# 児童一覧表示 %>
      </div>
    </div>
  </div>
</div>