<%= render partial:'shared/third_header' %>
<div class="main-page">
  <div class="show-page">
    <div class="student-show-main">
      <div class="student-show">
        <div class="student-name">
          <%= @student.last_name %>
          <%= @student.first_name %>
        </div>
        <div class="student">
          <% if @student.image.attachment != nil %>
            <%= image_tag @student.image, class: "image"%>
          <% else %>
            <%= image_tag "noimage.png" ,class: "image"%>
          <% end %>
        </div>
        <ul class="student-items">
          クラス
          <li class="student-item">
            <% if @student.team != nil %>
              <p><%= @student.team.name %></p>
            <% else %>
              <p>クラスに所属していません。</p>
            <% end %>
          </li>
          送迎
          <li class="student-item">
            <% if @student.pickup != nil %>
              <%= @student.pickup.name %>
            <% else %>
              送迎ではありません
            <% end %>
          </li>
        </ul>
          <div class="actions">
            <span>
            <%= link_to "編集へ", edit_room_student_path %>
            </span>
          </div>
      </div>
      <div class="student-comments">
            <%= form_with model: [@room, @student, @comment],local: true do |f|%>
              <div class="field">
                <div class="form-label">
                <%= f.label :content, "コメント" %>
                </div>
                <div class="form-field">
                <%= f.text_field :content %>
                </div>
              </div>
              <div class="actions">
                <span>
                  <%= f.submit "送信する", class: :form__btn  %>
                </span>
              </div>
            <% end %>
        <ul class="comments-lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
          <% @comments.each do |comment|%>
            <li class="comments-list">
              <div class="comment">
                <p class="comment-content">
                  <%= comment.content%>
                </p>
                <p class="comment-user">
                  <%= comment.user.name %>
                </p>
              </div>
            </li>
          <% end %>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      </div>
    </div>
  </div>
</div>