<%= render partial:'shared/header' %>
<div class="main-page">
  <div class="group-index">
    <div class="sidebar">
      <div id="sidebar-top">
        <p><%= @room.name %></p>
        <%= link_to "編集",  edit_room_path, class:"edit"%>
      </div>
      <div class="sidebar-index">
        <ul id="sidebar-lists">
        <% @user_rooms.each do |r| %>
          <li class="sidebar-list">
          <%= link_to r.room.name, room_path(id:r.room.id), class:"room-link" %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
    <div class="main">
      <div id="main-top">
      <%# 選択されたクラス、送迎名を表示する %>
        <p>各種機能</p>
      <%# 選択されたクラス、送迎の編集ページへリンクする %>
        <%# <a href="#"></a> %>
      </div>
      <div id="main-index">
        <ul id="main-lists">
          <li class="main-list">
            <%= link_to "・児童一覧へ", room_students_path(room_id: params[:id]) %>
          </li>
          <li class="main-list">
            <%= link_to "・児童登録へ", new_room_student_path(room_id: params[:id]) %>
          </li>
          <li class="main-list">
            <%= link_to "・クラス作成へ", new_room_team_path(room_id: params[:id]) %>
          </li>
          <li class="main-list">
            <%= link_to "・送迎種類作成へ",   new_room_pickup_path(room_id: params[:id]) %>
          </li>
          <li class="main-list">
            <%= link_to "・グループユーザー編集へ",   user_room_path(id: params[:id]) %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>